<footer class="container" style="margin-top: 150px;">
    <p class="text-center">
      Copyright ©2017 JDStore
      <br /> Design by <a href="https://www.facebook.com/davegle" target=_> Justin Ng</a>
    </p>

</footer>
